In [ ]:
!pip install pandas

In [3]:
import pandas as pd

In [8]:
#dataset

data = {'Student': ["Mwaka", "Ruth", "Chelogoi", "Ziphrose"], 
        'Rank':[1,4,3,5], 
        'Marks':[95,70,80,60]}
res= pd.DataFrame(data)
print("Student Records\n\n", res)

Student Records

     Student  Rank  Marks
0     Mwaka     1     95
1      Ruth     4     70
2  Chelogoi     3     80
3  Ziphrose     5     60

# Indexing Pandas

In [6]:
import pandas as pd

In [7]:
data = {'Student': ["Mwaka", "Ruth", "Chelogoi", "Ziphrose"], 
        'Rank':[1,4,3,5], 
        'Marks':[95,70,80,60]}
res= pd.DataFrame(data)
print("Student Records\n\n", res)

Student Records

     Student  Rank  Marks
0     Mwaka     1     95
1      Ruth     4     70
2  Chelogoi     3     80
3  Ziphrose     5     60

In [6]:
import pandas as pd

df=pd.read_excel('Flavours Data.xlsx')

In [9]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint chocolate chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolate fudge brownie,Chocolate,Yes,8.2,7.1,15.3